/node_modules
/public/hot
/public/storage
/resources/js/tienda.js
/storage/*.key
/storage/logs/laravel.log
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
